USE [IngenieriaSoftware]
GO

/****** Object:  Table [dbo].[Usuarios] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Usuarios](
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Usuario] [nvarchar](50) NOT NULL,
    [Clave] [nvarchar](50) NOT NULL,
    [FechaRegistro] [datetime] NULL,
    [Rol] [nvarchar](20) NOT NULL DEFAULT 'usuario',
PRIMARY KEY CLUSTERED 
(
    [Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Usuarios] ADD DEFAULT (getdate()) FOR [FechaRegistro]
GO

-- Usuario admin siempre presente
INSERT INTO [dbo].[Usuarios] (Usuario, Clave, Rol) VALUES ('admin', 'admin123', 'admin')
GO